
auto-install-peers=true

strict-peer-dependencies=false

; Enabling the execution of pre/post scripts during package installation.
; This allows npm to execute scripts defined in the package.json's "preinstall" and "postinstall" sections.
enable-pre-post-scripts=true
